.custom-google-button {
    background-color: #4285f4;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.custom-google-button:hover {
    background-color: #357ae8;
}

.custom-google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
