.doctor-description body,
.doctor-description h1,
.doctor-description h2,
.doctor-description h3,
.doctor-description h4,
.doctor-description h5,
.doctor-description h6,
.doctor-description ul,
.doctor-description p,
.doctor-description li {
    margin: revert;
    padding: revert;
    font-size: revert;
    text-align: justify;
    list-style-type: revert;
}

.doctor-description h1,
.doctor-description h2,
.doctor-description h3,
.doctor-description h4,
.doctor-description h5,
.doctor-description h6 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 500;
}

.doctor-description ul,
.doctor-description p {
    margin-top: 0;
    margin-bottom: 1em;
}

.doctor-description ul {
    list-style-type: revert;
}